:root{
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --first-color: #000305;
    --second-color: #eee;
    --third-color: #00e5ff;
}

*{
    box-sizing: border-box;
}


body{
    background-color: var(--first-color);
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

/*Scroll*/

::-webkit-scrollbar {
    width: 4px;
    }
    ::-webkit-scrollbar-track {
    border-left: none;
    }
    ::-webkit-scrollbar-thumb {
    background: #efefef;
        -webkit-box-shadow: inset 0 0 3px var(--first-color);
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #00BFA6;
        -webkit-box-shadow: inset 0 0 3px #000;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
    background: #000;
    } 
    
/*Scroll*/

.container{
    margin: 30px auto;
    width: 350px;
}

h1{
    letter-spacing: 1px;
    margin: 0;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4{
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container{
    background-color: #111;
    box-shadow: var(--box-shadow);
    filter: blur(4);
    opacity: .9;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.inc-exp-container > div{
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type{
    border-right: 1px solid #dedede;
}

.money{
    font-size: 2;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money-plus{
    color: #2ecc71;
}

.money-minus{
    color: #d12525;
}

label{
    display: inline-block;
    margin: 10px 0;
}

input[type="text"], input[type="number"]{
    background-color: #111;
    border: 1px solid #dedede;
    color: #eee;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn{
    cursor: pointer;
    background-color: var(--third-color);
    box-shadow: var(--box-shadow);
    color: var(--first-color);
    border: 0;
    border-radius: 50px;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

.btn:focus,.delete-btn:focus{
    outline: 0;
}

.list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    overflow-y: scroll;
    max-height: 20vh;
}

.list li{
    background-color: #111;
    box-shadow: var(--box-shadow);
    filter: blur(4);
    opacity: .9;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus{
    border-right: 5px solid #2ecc71;
}

.list li.minus{
    border-right: 5px solid #c0392b;
}

.delete-btn{
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-100%, -50%);
    transition: opacity 0.3s ease;
}

